@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --main-bg-color: rgba(39, 39, 51, 1);
  --accent-text-color: rgba(67, 171, 240, 1);
}

/* General Styles */

body {
  background-color: var(--main-bg-color);
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
}
