* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Mont";
  src: url("Montserrat-VariableFont_wght.ttf");
}

body {
  font-family: "Mont";
}

@keyframes bounce-my {
  0%,
  100% {
    transform: translateY(-2%);
    animation-timing-function: cubic-bezier(5, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounce-my {
  animation: bounce-my 1.5s infinite;
}

section {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
