.footer {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  background-color: #3d4050;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.footer__vertical-line {
  width: 1px;
  height: 18px;
  background-color: white;
}

.footer__area-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__info {
  width: 100%;
  font-size: 13px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__info__compant-name {
  text-transform: uppercase;
}

.footer__contacts {
  width: 100%;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__payment-systems {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.payment-systems-list {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.payment-systems__system {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.payment-system-icon {
  width: 20px;
  height: 20px;
}

.payment-icon-photo {
  width: 20px;
  height: 20px;
}

.payment-system-name {
  font-size: 13px;
  color: #c3c3c3;
}

.footer__contacts-list {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.contact-icon {
  width: 20px;
  height: 20px;
}

.contact-image {
  width: 20px;
  height: 20px;
}

.contact-name {
  font-size: 13px;
  color: #fff;
}

.footer__link {
  appearance: none;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 70%;
}

@media (max-width: 768px) {
  .footer__container {
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
  }

  .footer__info {
    justify-content: center;
  }

  .payment-systems__system {
    gap: 2px;
  }

  .footer__vertical-line {
    display: none;
  }

  .payment-systems-list {
    justify-content: center;
  }

  .footer__contacts-list {
    justify-content: center;
  }
}
