.header {
  position: fixed;
  width: 100vw;
  top: 0;
  background-color: rgba(16, 16, 29, 0.9);
  opacity: 90%;
  color: white;
  z-index: 1000;
  padding: 20px 0;
  box-sizing: border-box;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  font-weight: 800;
}

.header__logo__accent {
  color: var(--accent-text-color);
}

.header__nav {
  display: flex;
  column-gap: 60px;
}

.header__logo__link {
  color: white;
  text-decoration: none;
  font-size: 28px;
}

.header__link {
  color: white;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  transition: all 0.3s;
}

.header__link:hover {
  color: var(--accent-text-color);
}

.header__link__active {
  color: var(--accent-text-color);
}

@media (max-width: 768px) {
  .header__logo__link {
    font-size: 20px;
  }

  .header__nav {
    column-gap: 10px;
    display: none;
  }
}
