.intro {
  background-image: url("../../media/img/intro.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 750px;
  padding: 150px 0px;
  color: white;
  box-sizing: border-box;
}

.intro__content {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding-bottom: 30px;
}

.intro__title {
  font-size: 48px;
  max-width: 900px;
  text-transform: uppercase;
  margin: 0;
  color: black;
}

.intro__title__accent {
  color: var(--accent-text-color);
}

.intro__text {
  color: black;
  font-size: 17px;
}

.intro__text__heading {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
}

.intro__text__list {
  padding: 0;
  list-style-type: none;
}

.intro__text__list_element {
  text-indent: 5px;
}

.intro__text__list_element::before {
  content: "- ";
}

.intro__actions {
  display: flex;
  justify-content: start;
  gap: 10px;
}

.intro__button {
  padding: 10px 40px;
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s;
}

.intro__button:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
  -webkit-box-shadow: 0px 5px 18px 0px rgba(16, 14, 27, 0.2);
  -moz-box-shadow: 0px 5px 18px 0px rgba(16, 14, 27, 0.2);
  box-shadow: 0px 5px 18px 0px rgba(16, 14, 27, 0.2);
}

.intro__button:active {
  transform: scale(0.95);
}

.intro__button__order {
  background: #3e9cdc;
  color: white;
}

.intro__button__details {
  background: #ffffff;
  border-color: #6f6d7b;
  color: #2a2b30;
}

@media (max-width: 768px) {
  .intro {
    height: fit-content;
  }

  .intro__button {
    padding: 12px 0;
  }

  .intro__title {
    font-size: 27px;
    white-space: wrap;
  }

  .intro__text {
    font-size: 14px;
  }

  .intro__actions {
    justify-content: space-between;
    gap: 10px;
  }

  .intro__button {
    width: 100%;
  }
}
