/* reviews.css */
.reviews {
  text-align: center;
  width: 100%;
  padding: 50px 20px;
  background-color: #1a1c27;
  box-sizing: border-box;
}

.reviews__title {
  font-size: 36px;
  color: white;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.reviews__review-date {
  color: var(--accent-text-color);
  font-weight: 600;
}

.reviews__description {
  font-size: 18px;
  margin-bottom: 70px;
  color: #bbbbbb;
}

.reviews__slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.reviews__slide {
  border: 1px solid rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    190deg,
    rgba(255, 255, 255, 1) 39%,
    rgba(190, 190, 190, 1) 100%
  );
  background: -webkit-linear-gradient(
    190deg,
    rgba(255, 255, 255, 1) 39%,
    rgba(190, 190, 190, 1) 100%
  );
  background: linear-gradient(
    190deg,
    rgba(255, 255, 255, 1) 39%,
    rgba(190, 190, 190, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#bebebe",GradientType=1);
  border-radius: 5px;
  display: none;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 30px;

  -webkit-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.2);
}

.reviews__slide.active {
  display: block;
}

.reviews__text {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.reviews__author {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.5em;
  color: #000000;
}

.reviews__author__author-photo {
  width: 50px;
  height: 50px;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-text-color);
}

.reviews__author__author-photo__icon {
  width: 30px;
  height: 30px;
}

.reviews__controls {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

.reviews__control {
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
  color: white;
}

.reviews__control:hover {
  opacity: 0.5;
}
